@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

$font-body: "Roboto", "sans-serif";
$font-title: "Quicksand", cursive;

$color-background: rgb(254, 253, 248);
$color-primary: rgb(58, 66, 99);
$color-bottom: rgb(255, 251, 224);
$color-black: #333333;
$color-white: #ffffff;
$color-secondary: rgb(84, 183, 236);